body {
  background: #f0f0f0;
}

.box {
  display: inline-block;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  font-family: "droid sans";
  font-size: 14px;
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0, .1);
  padding: 5px 5px 5px 15px;
  margin-bottom: 10px;
  width: 25%;
  border-radius: 3px;
}

button {
  font-family: "droid sans";
  font-size: 12px;
  font-weight: bold;
  border-radius: 3em;
  padding: 3px 10px;
  margin: 2px;
  border: 1px solid #a6a6a6;
  border-top-color: #bbbbbb;
  border-bottom-color: #999999;
  background: -webkit-gradient(
    linear, left top, left bottom, from(#eee), to(#aaa));
  color: #444;
  text-shadow: #eee 1px 1px 1px;
  /*-webkit-box-shadow: 0 2px 2px rgba(0,0,0, .1);*/
  vertical-align: middle;
}

button:hover {
  background: -webkit-gradient(
    linear, left top, left bottom, from(#e1e1e1), to(#9c9c9c));
  color: #414141;
  text-shadow: #e1e1e1 1px 1px 1px;
}

button:active {
  padding-bottom: 2px;
  margin-bottom: 1px;
  background: -webkit-gradient(
    linear, left top, left bottom, from(#bbb), to(#ddd));
  border: 1px solid #aaaaaa;
  color: #4b4b4b;
  text-shadow: #fff 1px 1px 1px;
}
